<div class="container" data-ng-controller="course-controllers">
		
			<h3 class="page-heading">Courses</h3>
			
			<div class="panel-group clearboth pull-left" id="accordion">
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h4 class="panel-title">
					  <a data-toggle="collapse" data-parent="#accordion" href="#/courses#collapse1">Manual Testing</a>
					</h4>
				  </div>
				  <div id="collapse1" class="panel-collapse collapse in">
					<div class="panel-body">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					</div>
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h4 class="panel-title">
					  <a data-toggle="collapse" data-parent="#accordion" href="#/courses#collapse2">Selenium Automation Testing</a>
					</h4>
				  </div>
				  <div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">
						<p>Lorem Ipsum is simply dummy text</p>
						<p>Lorem Ipsum is simply dummy text</p>
					</div>
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h4 class="panel-title">
					  <a data-toggle="collapse" data-parent="#accordion" href="#/courses#collapse3">Advanced Selenium automation Testing</a>
					</h4>
				  </div>
				  <div id="collapse3" class="panel-collapse collapse">
					<div class="panel-body">
					<p>
						<p>
							1.	Introduction to Selenium</p>
<p>Selenium IDE</p>
<p>2.	Install Selenium IDE and firebug</p>

<p>3.	Introduction to selenium IDE</p>
<p>4.	Creating your first selenium script</p>
<p>5.	How to enhance scripts using webdriver</p>
<p>WebDriver</p>
<p>1.	Introduction to WebDriver and Comparison with selenium-RC</p>
<p>2.	Eclipse setup for webdriver</p>
<p>3.	Creating your first script in selenium webdriver</p>
<p>4.	Locators and how to identify locators</p>
<p>5.	Accessing forms in webdriver</p>
<p>6.	Accessing links and tables using selenium webdriver</p>
<p>7.	Keyboard and mouse events</p>
<p>8.	Uploading files </p>
<p>9.	Downloading files</p>
<p>10.	Drop down select</p>
<p>11.	Calendar select</p>
<p>12.	Find all the links in the web page</p>
<p>13.	Switching between windows</p>
<p>14.	Frame handling</p>
<p>15.	Alert and Pop-up handling</p>
<p>16.	Integration with external tools like auto-it</p>
<p>17.	Implicit and explicit wait in selenium</p>
<p>18.	SSL certificate error handling in IE</p>
<p>19.	Handling cookies in selenium</p>
<p>20.	Page factory and POM in selenium</p>
<p>21.	Screenshot generation</p>
<p>TestNG</p>
<p>1.	TestNG Installation</p>
<p>2.	Use of TestNG with selenium</p>
<p>3.	TestNG Report Generation</p>
<p>4.	TestNG execute multiple test suites</p>
<p>5.	Test Case priority in TestNG</p>
<p>6.	Parameterization</p>
<p>Selenium Framework</p>
<p>1.	Parameterization using external data sources like excel,csv</p>
<p>2.	Developing test framework(keyword/hybrid) </p>

						</p>
					</div>
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h4 class="panel-title">
					  <a data-toggle="collapse" data-parent="#accordion" href="#/courses#collapse4">Cucumber-BDD tool</a>
					</h4>
				  </div>
				  <div id="collapse4" class="panel-collapse collapse">
					<div class="panel-body">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					</div>
				  </div>
				</div>
				
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h4 class="panel-title">
					  <a data-toggle="collapse" data-parent="#accordion" href="#/courses#collapse5">Core Java</a>
					</h4>
				  </div>
				  <div id="collapse5" class="panel-collapse collapse">
					<div class="panel-body">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					</div>
				  </div>
				</div>
				
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h4 class="panel-title">
					  <a data-toggle="collapse" data-parent="#accordion" href="#/courses#collapse6">Ready Projects</a>
					</h4>
				  </div>
				  <div id="collapse6" class="panel-collapse collapse">
					<div class="panel-body">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					</div>
				  </div>
				</div>
				
				
			  </div> 
		
		</div>